default_stages:
  - pre-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: "pages/blog"
      - id: end-of-file-fixer
        exclude: "pages/blog"
      - id: check-json
      - id: check-toml
      - id: check-xml
        exclude: ".*.svg"
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: detect-private-key
        exclude: "theme"

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.2"
    hooks:
      - id: prettier
        exclude: "pages/blog|theme"

  - repo: local
    hooks:
      - id: mkdocs-build
        name: mkdocs-build
        entry: makim pages.build
        files: pages
        language: system
        pass_filenames: false

      - id: linkcheckmd
        name: linkcheckmd
        entry: python scripts/check-broken-links-md.py
        language: system
        pass_filenames: false

      - id: check-internal-links
        name: check-internal-links
        entry: python scripts/check-broken-links-internal.py
        language: system
        pass_filenames: false

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        pass_filenames: true
        types:
          - python

      - id: ruff-linter
        name: ruff-linter
        entry: ruff check
        language: system
        pass_filenames: true
        types:
          - python
