.card-columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 10px;

}

.card {

  padding: 10px;
}
.row.g-0 {
    background-color: var(--choice-bg);
}
.card.mb-3 {
  padding: 0;
}

a.nav_item[title=Donate] {
  background: #ffcc00;
  border-radius: 10px;
  color: #333;
}
