.card-columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 10px;

}

.card {

  padding: 10px;
}
.row.g-0 {
    background-color: var(--choice-bg);
}
.card.mb-3 {
  padding: 0;
}

main a {
  color: #0077b8!important;
}

.btn {
  color: #fff!important;
}

nav a:hover {
  color: #ffcc00!important;
}

a.nav_item[title=Donate] {
  background: #ffcc00;
  border-radius: 10px;
  color: #333;
}

a.nav_item[title=Donate]:hover {
  color: #fff!important;
}

.list-group a.active {
  color: #fff!important;
}
