{% extends "base.html" %}

{% block content %}
{% set title = page.meta.get("title", page.title) %}
{% set slug = page.meta.get("slug") %}
{% set thumbnail = page.meta.get("thumbnail") %}

<article class="blog-article blog-article--feature">
  <header class="blog-hero">
    <div class="blog-hero__content">
      <p class="blog-hero__kicker">Open Science Labs Blog</p>
      <h1>{{ title }}</h1>

      <div class="post_meta">
        {% if "authors" in page.meta %}
        <span class="meta_item">
          <svg class="icon" aria-hidden="true"><use xlink:href="#author"/></svg>
          <span class="author_name">{{ ", ".join(page.meta["authors"]) }}</span>
        </span>
        {% endif %}

        {% if "date" in page.meta %}
        <span class="meta_item">
          <svg class="icon" aria-hidden="true"><use xlink:href="#calendar"/></svg>
          <time class="post_date" datetime="{{ page.meta["date"].strftime('%Y-%m-%d') }}">
            {{ page.meta["date"].strftime('%b %-d, %Y') }}
          </time>
        </span>
        {% endif %}
      </div>

      {% if show_tags and "tags" in page.meta %}
        <div class="post_tags">
          {% for tag in page.meta["tags"] %}
            <a href="#{{ tag }}" title="{{ tag }}" class="post_tag button button_translucent">{{ tag }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    {% if slug and thumbnail %}
    <figure class="blog-hero__media">
      <img loading="lazy" decoding="async"
           src="/blog/{{ slug }}{{ thumbnail }}"
           alt="{{ title }}">
    </figure>
    {% endif %}
  </header>

  <div class="blog-article__shell">
    <aside class="blog-share-panel" aria-label="Share this post">
      <span>Share</span>
      <a href="https://twitter.com/intent/tweet?text={{ title }}&url={{ page.canonical_url or url }}&tw_p=tweetbutton"
         class="twitter" title="Share on X / Twitter" target="_blank" rel="nofollow noopener">
        <svg class="icon" aria-hidden="true"><use xlink:href="#twitter"/></svg>
      </a>
      <a href="https://www.facebook.com/sharer.php?u={{ page.canonical_url or url }}&t={{ title }}"
         class="facebook" title="Share on Facebook" target="_blank" rel="nofollow noopener">
        <svg class="icon" aria-hidden="true"><use xlink:href="#facebook"/></svg>
      </a>
      <a href="#linkedinshare" id="linkedinshare" class="linkedin" title="Share on LinkedIn" rel="nofollow">
        <svg class="icon" aria-hidden="true"><use xlink:href="#linkedin"/></svg>
      </a>
      <a href="{{ page.canonical_url or url }}" title="Copy link" class="link link_yank">
        <svg class="icon" aria-hidden="true"><use xlink:href="#copy"/></svg>
      </a>
    </aside>

    <div class="post_body osl-markdown">
      {{ page.content }}
    </div>
  </div>
</article>
{% endblock content %}
