{# theme/blog-list.html #}
{% extends "blog-list-base.html" %}

{% macro render_blog(title, description, time, url, page) -%}
{% if title != "Blog" %}
  {# Thumbnail path (fallback if missing) #}
  {% set thumb = '/images/placeholders/post-16x9.png' %}
  {% if page.meta and page.meta.slug and page.meta.thumbnail %}
    {% set thumb = '/blog/' ~ page.meta.slug ~ page.meta.thumbnail %}
  {% endif %}

  <li class="post-card">
    <article class="excerpt glass">
      <a class="post-thumb" href="{{ url }}" aria-label="{{ title }}">
        <img loading="lazy" decoding="async" src="{{ thumb }}" alt="{{ title }}">
      </a>

      <div class="excerpt_body">
        <h3 class="post_link">
          <a href="{{ url }}" title="{{ title }}" target="_self">{{ title }}</a>
        </h3>

        <div class="post_meta">
          {% if "authors" in page.meta %}
            <span class="meta_item author">
              <svg class="icon" aria-hidden="true"><use xlink:href="#author"/></svg>
              <span class="author_name">{{ ", ".join(page.meta["authors"]) }}</span>
            </span>
          {% endif %}

          {% if "date" in page.meta %}
            <span class="meta_item date">
              <svg class="icon" aria-hidden="true"><use xlink:href="#calendar"/></svg>
              <time class="post_date" datetime="{{ page.meta["date"].strftime('%Y-%m-%d') }}">
                {{ page.meta["date"].strftime('%b %-d, %Y') }}
              </time>
            </span>
          {% endif %}
        </div>

        {% if show_tags and "tags" in page.meta %}
          <div class="post_tags">
            {% for tag in page.meta["tags"] %}
              <a href="#{{ tag }}" title="{{ tag }}" class="post_tag button button_translucent">{{ tag }}</a>
            {% endfor %}
          </div>
        {% endif %}

        {% if description %}
          <p class="post_desc">{{ description }}</p>
        {% endif %}

        <div class="excerpt_actions">
          <a href="{{ url }}" title="Read more" class="excerpt_more button">Read more</a>

          <div class="post_share">
            <span class="share_label">Share:</span>
            <a href="https://twitter.com/intent/tweet?text={{ title }}&url={{ url }}&tw_p=tweetbutton"
               class="twitter" title="Share on X/Twitter" target="_blank" rel="nofollow noopener">
              <svg class="icon"><use xlink:href="#twitter"/></svg>
            </a>
            <a href="https://www.facebook.com/sharer.php?u={{ url }}&t={{ title }}"
               class="facebook" title="Share on Facebook" target="_blank" rel="nofollow noopener">
              <svg class="icon"><use xlink:href="#facebook"/></svg>
            </a>
            <a href="#linkedinshare" class="linkedin" title="Share on LinkedIn" rel="nofollow">
              <svg class="icon"><use xlink:href="#linkedin"/></svg>
            </a>
            <a href="{{ url }}" title="Copy Link" class="link link_yank">
              <svg class="icon"><use xlink:href="#copy"/></svg>
            </a>
          </div>
        </div>
      </div>
    </article>
  </li>
  {{ caller() }}
{% endif %}
{%- endmacro %}

{# no inline CSS; rely on /css/blog.css #}
