{% extends "single-sidebar.html" %}
{% block header_extra %}
<style>
  .main-nav > li > a {
    color: #000000 !important;
  }
</style>

{% endblock header_extra%}

{% block content %}
<section>
  {% block content_inner %}
  <div class="row pt-0">
    <div class="col-md-9 mx-auto pt-0">
      <h1>Events</h1>
      <p>
        Welcome to the Events page of Open Science Labs! Here, we showcase a curated
        list of upcoming and past events designed to engage, educate, and inspire our
        community. From workshops and hackathons to conferences and webinars, our
        events serve as a platform for collaboration, learning, and sharing of ideas
        within the realms of open science and technology. Explore our event listings to
        discover opportunities to connect with like-minded individuals, enhance your
        skills, and contribute to the growing field of science, and technology.
      </p>
      {{ page.content }}
    </div>
  </div>
  {% endblock content_inner %}

  <div class="row">
    <div class="col-md-9 mx-auto pt-3">
      {%set upcoming_events = page.meta.get("events", {}).get("upcoming", {}) %}
      <h2>Upcoming Events</h2>
      {% for event in upcoming_events %}

      <div class="row">
        <div class="col-4 text-center">
          <a href="{{ event.url }}">
            <img src="{{ event.thumbnail }}" />
          </a>
        </div>
        <div class="col-8">
          <h2>{{ event.name }}</h2>
          <p>{{ event.description }}</p>
          <p>
            From <strong>{{ event.date_start }}</strong> to
            <strong>{{ event.date_end }}</strong>.
          </p>
          <p>
            <a href="{{ event.url }}" class="button">More information</a>
          </p>
        </div>
      </div>
      <hr />

      {% endfor %}

      {% if not upcoming_events %}
      No upcoming events for now.
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 mx-auto pt-3">
      <h2>Past Events</h2>
      {%set past_events = page.meta.get("events", {}).get("past_events", {}) %}
      {% for event in past_events %}

      <div class="row">
        <div class="col-4 text-center">
          <a href="{{ event.url }}">
            <img src="{{ event.thumbnail }}" />
          </a>
        </div>
        <div class="col-8">
          <h2>{{ event.name }}</h2>
          <p>{{ event.description }}</p>
          <p>
            From <strong>{{ event.date_start }}</strong> to
            <strong>{{ event.date_end }}</strong>.
          </p>
          <p>
            <a href="{{ event.url }}" class="button">More information</a>
          </p>
        </div>
      </div>
      <hr />

      {% endfor %}

      {% if not past_events %}
      No past events yet.
      {% endif %}
    </div>
  </div>

</section>
{% endblock content %}
