{% extends "base.html" %}

{% block header_extra %}
<style>
  footer.citation * {
    margin-top: 20px;
    font-size: 10px !important;
    font-style: italic !important;
  }
  .welcome-section {
    background-image: url("/images/home/header.png");
    background-size: cover;
    color: white;
    padding: 100px 0;
  }

  .welcome-section p {
    color: #333333 !important;
  }

  .overlay {
    background-color: rgba(
      255,
      255,
      255,
      0.7
    ); /* Black background with 50% opacity */
    color: white;
    padding: 100px 0;
  }

  .card-footer {
    background-color: #ffffff!important;
  }
</style>
{% endblock header_extra %}

{% block content %}
<div class="pt-5"></div>
{{ page.content }}

<!-- Partners -->
<section id="partnership" class="p-5">
  <div class="container">
    <h2 class="text-center">Our Partners</h2>
    <p>
      We welcome partnerships with organizations and projects in the
      realms of research, education, open source, and social good.
      By collaborating with us, we can collectively enhance an ecosystem
      that is more open, transparent, and inclusive.
    </p>
    <div class="card-columns partners pb-3">
      {% for partner in page.meta["partners"] %}
      <div class="card m-0 p-0">
        <div class="card-body m-0 text-center">
          <a href="{{ partner.url }}">
            <img
              src="{{ partner.logo }}"
              alt="{{ partner.name }}"
            />
          </a>
        </div>
        <div class="card-footer m-0">
          <a href="{{ partner.url }}">
            <h5 class="card-title text-dark"><strong>{{ partner.name }}</strong></h5>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}
