{% extends "main.html" %}

{% set colors=["", "bg-light"] %}

{% block header_extra %}
<style>
  .main-nav > li > a {
    color: #000000 !important;
  }
</style>

{% endblock header_extra%}

{% block content_inner %}
{{ page.content }}

<div class="row">
  <div class="col-md-12 pt-3">

    {% for partner in page.meta["partners"] %}

    <div class="row {{ colors[loop.index % 2] }}">
      <div class="col-4 text-center">
        <a href="{{ partner.url }}">
          <img src="{{ partner.thumbnail }}" />
        </a>
      </div>
      <div class="col-8">
        <h2>
          {{ partner.name }}
          {% if "github" in partner  %}
          <a href="{{ partner.github }}"><i
            class="fa fa-brands fa-github-square position-static text-dark"></i>
          </a>
          {% endif %}
          {% if "twitter" in partner  %}
          <a href="{{ partner.twitter }}"><i
            class="fa fa-brands fa-twitter-square"></i>
          </a>
          {% endif %}
        </h2>
        <p>{{ partner.summary }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content_inner %}
