{% extends "base.html" %}
{% block header_extra %}
<style>
  .main-nav > li > a {
    color: #000000 !important;
  }
</style>

{% endblock header_extra%}

{% block content %}
<section>
  <div class="row pt-5">
    <div class="col-md-9 mx-auto pt-3">
      {% block content_inner %}
      {{ page.content }}
      {% endblock content_inner %}
    </div>
  </div>

  {% for group in page.meta["teams"] %}
  <div class="row">
    <div class="col-md-9 mx-auto pt-3">
      <h2>{{ group.name }}</h2>
      <div class="row row-cols-1 row-cols-md-3">
        {% for member in group.members %}
        <div class="col">
          <div class="card p-0 mt-3">
            <img src="{{ member.image_url }}" class="card-img-top m-0" />
            <div class="card-body">
              <h3 class="card-title">{{ member.name }}</h3>

              <a class="git_ico" href="{{ member.github_url }}">
                <svg class="icon">
                  <title>github</title>
                  <use xlink:href="#github"></use>
                </svg>
              </a>

              <p class="card-text">{{ member.bio }}</p>

              {% if "github_sponsor" in member %}
              Support his work on community and open source projects via:

              <iframe
                src="{{ member.github_sponsor }}"
                title="Sponsor {{ member.name }}"
                height="35"
                width="116"
                style="border: 0"
              ></iframe>

              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock content %}
