<!-- {{ define "main" }}
  {{- partial "archive" . }}
{{ end }} -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Bienvenidos a la página principal de OSL, compartirmos">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css">
    <title>Open Science Labs</title>
  </head>
  <body class="home">
    <section>
      <img src="./icons/logo-osl.svg" alt="OSL Logo" style="width:300px"/>
      <h1>OpenScienceLabs</h1>
      <h2></h2>
      <a href="./about">Entrar</a>
    </section>
    <footer>
        <a href="/about">About Us</a>
        <a href="./guidelines">Guidelines</a>
        <a href="./contact">Blog</a>
    </footer>
  </body>
</html>
